.fade.show{
    opacity: 1;
  }

  .save_btn {
    color: #FFF !important;
    border: 2px solid #4ba9d7;
    border-radius: 6px !important;
    box-shadow: none;
    background-color: #4ba9d7 !important;
    border-color: #4ba9d7 !important;
  }

  .export_cancel_btn {
    margin-bottom: 0;
    background: none;
    color: #007bff !important;
    border-block-color: #007bff !important;
    margin-top: 0px;
  }