#reset_pwd .new_pwd_str{
    min-width: 250px;
    margin-right: 25px;
}
#reset_pwd .pwd_side_section{
    text-align: left;
    padding-left: 3em;
    margin-right: -12em;
}

#reset_pwd .pwd_side_section .errors_section{
    line-height: 18px;
} 
#reset_pwd .errors_section .error{margin-left: 2px;}
#reset_pwd .errors_section .error span{margin-left: 0px;}

/* .cancel-btn{
    color: #007bff!important;
  } */

  .cancel-btn {
    color: #007bff !important;
    border: 2px solid #007bff !important;
  }
  
  .btn-outline-primary:hover{
    color: #fff!important;
  }
  
  .save_btn{
    color: #FFF!important;
    background: #3C64B1;
    border: 2px solid #3C64B1;
    border-radius: 6px!important;
    box-shadow: none;
  }
  
  .cancel-btn:hover{
    background: #f6f6f6;
    color: #3C64B1 !important;
  }