.signin_box .signin_box_wrapper {
    border: 2px solid #e3e3e3;
    max-height: 480px;
    min-height: 400px;
    width: 450px;
    padding: 50px 60px 50px 80px;
    border-radius: 5px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: 310px;
  margin-top: 70px;
}