.sensorGroupRow{
    display: flex;
    padding: 0px;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}
.sensorGroupRow .sensorLable{
    margin-right: 25px;
}
.sensorGroupRow .sensorInput{
    max-width: 330px;
    margin-right: 25px;
}
.addSensorRow .link_button{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.addSensorRow .link_button .fa{
    font-size: 18px;
    font-weight: 400;
    margin-right: 15px;
}
.addSensorRow .link_button .sensorAddTxt{
    color: #3c73bc;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}
.btnSectionRow{
    margin: 20px 0px;
    text-align: left;
}
.sensorRadioGrp .sensLable{
    margin-left: 10px;
    margin-right: 25px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.sensorRadioGrp .sensLableForMain{
    margin-left: 10px;
    margin-right: 25px;
    font-weight: 900;
    letter-spacing: 0.7px;
}


.fade.show{
    opacity: 1;
  }
  
  
  .save_btn{
    color: #FFF!important;
    background: #3C64B1;
    border: 2px solid #3C64B1;
    border-radius: 6px!important;
    box-shadow: none;
  }
  
  .cancel-btn:hover{
    background: #f6f6f6;
    color: #3C64B1 !important;
  }

  .cancel-btn {
    color: #007bff !important;
    border: 2px solid #007bff !important;
}

.btn-outline-primary:hover {
    color: #fff !important;
}
