.fade.show {
    opacity: 1;
}

.save-btn {
    color: #FFF !important;
    background: #35a9d5;
    border: 2px solid #35a9d5 !important;
    border-radius: 6px !important;
    box-shadow: none;
}

.cancel-btn:hover {
    background: #FFF;
    color: #35a9d5 !important;
}

.cancel-btn {
    color: #007bff !important;
    border: 2px solid #35a9d5 !important;
    border-radius: 6px !important;
    box-shadow: none;
}

.modal-footer .btn+.btn {
    margin-bottom: 5px !important;
}

.tblData {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
}

.dataHeading {
    height: 36px;
    border-bottom: 1px solid #cccccc;
    background-color: #e5e5e5;
}

.dataRow {
    padding: 10px 10px !important;
    border-bottom: 2px solid #f4f4f4;
}

.dataRow:nth-child(odd) {
    background: #f9f9f9;
}

ul {
    list-style: disc;
    padding-left: 20px;
}

.tblRowHeader {
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ignoreBoxAlign {
    text-align: -webkit-right;
}

.removeMoreLink {
    color: #727b7d;
    margin-right: 13px !important;
    font-size: 20px;
    line-height: 45px;
    font-weight: 400;
    text-decoration: none;
}

.pb-15 {
    padding-bottom: 15px;
}

.addRowBtn {
    border: 0px;
    background: #FFF;
    color: #4BA9D7;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
}

.fa {
    color: #737b7d;
    margin-right: 15px;
}

.tblRowData {
    padding: 0;
    margin: 0;
}

.pr-0 {
    padding-right: 0px !important;
}

.igonreText{
    font-style: italic;
    color: #808789;
}

.ruleDesc {
    display: table-cell;
    vertical-align: -webkit-baseline-middle;
    height: 45px;
    width: 41%;
}

mat-label {
    color: #5e5e5e !important;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
    color: rgba(0,0,0,.54) !important;
}

.mat-select-arrow {
    color: rgba(0,0,0,.54) !important;
}