<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOGS" value="./pct-services/discovery-service/logs"/>
    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/discovery-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/discovery-service.%d{yyyy-MM-dd}.log</fileNamePattern> <!-- a new file each day -->
            <maxHistory>30</maxHistory> <!-- maximum of 30 days history -->
            <totalSizeCap>1GB</totalSizeCap> <!--  maximum of 1GB history -->
        </rollingPolicy>
        <encoder>
            <pattern>%date{"yyyy-MM-dd HH:mm:ss.SSS"} [%level] %logger{35} - %msg%n
            </pattern>
        </encoder>
    </appender>
    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="FILE"/>
        <appender-ref ref="Console"/>
    </root>
    <!-- LOG "com.pct.device*" at TRACE level -->
    <logger name="com.pct.discovery" level="trace" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="Console"/>
    </logger>
</configuration>