<div id="main" class="container-fluid">
    <div id="container-changeable" class="">
        <div class="top_container">
            <div class="breadCrumb">
                <span class="pageName">
                    <a href="javascript:void(0);">Manage Devices</a>
                </span>
                <span class="seprator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <span class="pageName">
                    <a [routerLink]="['../devices-list']">Devices</a>
                </span>
                <span class="seprator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                <span class="pageName">
                    <a href="javascript:void(0);">Device Profile</a>
                </span>
            </div>

            <div class="title-of-section">
                Device Profile for {{deviceprovision.imei}}
            </div>

            <div class="row">
                <div class="col-12 flex_center">
                    <div class="col boxStatus">
                        <div class="col pl-0">
                            <div class="boxTitle">UPS Trailer V123456</div>
                            <div class="readOnlyModeInfo">
                                <div class="data-col">
                                </div>
                                <div class="data-col">
                                    <div class="h_label"> {{deviceprovision.product_name}} </div> &nbsp;
                                    <div class="h_label">({{deviceprovision.product_code}})</div>
                                </div>
                                <div class="data-col">
                                    <div class="label">Device IMEI:</div>
                                    <div class="ro-value">{{deviceprovision.imei}}</div>
                                </div>
                                <div class="data-col">
                                    <div class="label">Device Serial #:</div>
                                    <div class="ro-value">{{cellularpayload.imsi}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="col pr-0">
                            <div class="statusBtn withIcon green boxBtnMargin">
                                <a href="javascript:void(0);" class="btnTxt">{{deviceprovision.usage}}</a>
                                <a href="javascript:void(0);" class="btnIcon">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </div>
                            <div class="readOnlyModeInfo">
                                <div class="data-col">
                                    <div class="h_label">{{cellularpayload.cellular}}</div>
                                </div>
                                <div class="data-col">
                                    <div class="label">SIM #:</div>
                                    <div class="ro-value">{{cellularpayload.imsi}}</div>
                                </div>
                                <div class="data-col">
                                    <div class="label">Country:</div>
                                    <div class="ro-value">{{cellularpayload.service_country}}</div>
                                </div>
                                <div class="data-col">
                                    <div class="label">Phone #:</div>
                                    <div class="ro-value">{{cellularpayload.phone}}</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="spacePart">&nbsp;</div>
                    <div class="col boxStatus">
                        <div class="col-12 pl-0">
                            <div class="boxTitle">Current Status</div>
                        </div>
                        <div class="col pl-0">
                            <div class="readOnlyModeInfo">
                                <div class="data-col">
                                    <div class="label">
                                        <div class="statusBtn white">
                                            <a href="javascript:void(0);" class="btnTxt">{{deviceprovision.status}}</a>
                                        </div>
                                    </div>&nbsp;
                                    <div class="ro-value">
                                        {{deviceprovision.last_report_date}}
                                    </div>
                                </div>
                                <div class="data-col mt-3">
                                    <div class="label">
                                        <div class="statusBtn pink" style="color: red;">
                                            <a href="javascript:void(0);" class="btnTxt">ALERT</a>
                                        </div>
                                    </div>
                                    <div class="ro-value">
                                        <a href="javascript:void(0);">Details</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col pr-0">
                            <div class="readOnlyModeInfo">
                                <div class="data-col">
                                    <div class="h_label">Latest Report</div>
                                </div>
                                <div class="data-col">
                                    <div class="label">Received:</div>
                                    <div class="ro-value">{{deviceprovision.last_report_date}}</div>
                                </div>
                                <div class="data-col">
                                    <div class="label">Event:</div>
                                    <div class="ro-value">{{deviceprovision.last_event}}
                                    </div>
                                </div>
                                <div class="data-col">
                                    <div class="ro-value">
                                        <a href="javascript:void(0);">Details</a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- <div>
                <mat-tab-group>
                    <mat-tab label="First"> 
                        sfjkdfjh ghfgh jdg    
                    </mat-tab>
                    <mat-tab label="Second"> Content 2 </mat-tab>
                    <mat-tab label="Third"> Content 3 </mat-tab>
                  </mat-tab-group>
            </div> -->
            <div class="row">
                <div class="col-12 mt-5 mb-3">
                    <div class="col pl-0 pr-0">
                        <mat-tab-group (selectedTabChange)="yourFn($event)">
                            <mat-tab label="Configuration">
                                <div class="col-12 pl-0 pr-0">
                                    <p>These details are current as of the latest maintenance report received from the
                                        device 2021-07-01 10:41 PDT / Production MS </p>
                                </div>

                                <div class="row approved_assets_txt">
                                    <div class="col-lg-5 noPadding">
                                        <h4 class="content_titlebar_wrapper">Configuration</h4>

                                        <table id="" class="table table-hover breakdownChartDataTbl">

                                            <tr>
                                                <th width="40%"></th>
                                                <th width="20%"></th>

                                            </tr>

                                            <tbody>

                                                <td>

                                                    <tr>
                                                        <td>BIN</td>
                                                        <td>{{deviceprovision.bin_version}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>APP</td>
                                                        <td>{{deviceprovision.app_version}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>MCU</td>
                                                        <td>{{deviceprovision.mcu_version}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>BLE</td>
                                                        <td>{{deviceprovision.ble_version}}</td>
                                                    </tr>
                                                </td>

                                                <td>

                                                    <tr>
                                                        <td>Config 1</td>
                                                        <td>{{deviceprovision.config1}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Config 2</td>
                                                        <td>{{deviceprovision.config2}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Config3</td>
                                                        <td>{{deviceprovision.config3}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Config 4</td>
                                                        <td>{{deviceprovision.config4}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td width="50%">Config 5</td>
                                                        <td>{{deviceprovision.config5}}</td>
                                                    </tr>
                                                </td>
                                            </tbody>
                                        </table>

                                    </div>
                                    <div class="col-lg-1 noPadding">&nbsp;</div>
                                    <div class="col-lg-5 noPadding">
                                        <h4 class="content_titlebar_wrapper">Connected Sensors</h4>
                                        <div class="chartDataTbl">
                                            <table class="table table-hover breakdownChartDataTbl">
                                                <thead>
                                                    <tr>
                                                        <th width="40%">Sensor</th>
                                                        <th width="20%">Product Code</th>
                                                        <th width="20%">Mac Address</th>
                                                        <th width="25%">Position</th>
                                                        <th width="25%">Type</th>
                                                        <th width="25%">Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let sensor of sensorList;">
                                                        <td>{{sensor.product_name}}</td>
                                                        <td>{{sensor.product_code}}</td>
                                                        <td>{{sensor.mac_address}}</td>
                                                        <td>{{sensor.position}}</td>
                                                        <td>{{sensor.type}}</td>
                                                        <td>{{sensor.status}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Reports">
                                <app-device-reports></app-device-reports>
                            </mat-tab>
                            <mat-tab label="Sensor Performance"> Sensor Performance </mat-tab>
                            <mat-tab label="AT Commands"> <app-atcommand></app-atcommand></mat-tab>
                            <mat-tab label="Device Forwarding"><app-device-forwarding></app-device-forwarding> </mat-tab>
                            <mat-tab label="Campaigns"> Campaigns </mat-tab>
                            <mat-tab label="Parsed Report">
                                <div class="col boxStatus">
                                    <form class="ngFormsViews" [formGroup]="rawreportform"   (ngSubmit)="onSubmit(rawreportform)">
                                        <div class="boxTitle" width ="50%">Parse Raw Report</div>
                                        <div class="option-select">
                                            <div class="h_label">Raw Report</div>
                                                <input style="border: solid; width: 16%;" required matInput #rawreport maxlength="100" formControlName='raw_report' id="raw_report">
                                                <span>
                                            <div class="h_label">Format</div>
                                                <mat-select style="width: 16%; border: solid;" id="format" formControlName='format'>
                                                    <mat-option value="xml">XML</mat-option>
                                                    <mat-option value="json">JSON</mat-option>
                                                </mat-select>
                                            </span>
                                            <div class="col-lg-12 noPadding">&nbsp;</div>
                                        </div>
                                        <button class="primary_button">Submit</button>
                                    </form>
                                </div> 
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>