<div class="col boxStatus" width= "50%">
    <div class="boxTitle" width ="50%">Forwarding Rules</div>
  <div class="subheading">Set up to four endpoints that should receive the device report</div>
  <mat-form-field appearance="fill" class="form-field-1"> 
      <mat-label>Type</mat-label>
      <mat-select name="type">
        <mat-option>Elastic (RAW)</mat-option>
        <mat-option>Standard JSON</mat-option>
        <mat-option>Custom (UPS)</mat-option>
        <mat-option>Kinesis(EROAD</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="form-field-2"><input matInput type="text" id="endPointUrl" name="endPointUrl" placeholder="Endpoint URL">
    </div> 
    
  <mat-form-field appearance="fill" class="form-field-1">
    <mat-label>Type</mat-label>
    <mat-select name="type">
      <mat-option>Elastic (RAW)</mat-option>
      <mat-option>Standard JSON</mat-option>
      <mat-option>Custom (UPS)</mat-option>
      <mat-option>Kinesis(EROAD</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="form-field-2"><input  type="text" id="endPointUrl" name="endPointUrl" placeholder="Endpoint URL">
  </div>
  <form>
  <mat-form-field appearance="fill" class="form-field-1">
    <mat-label>Type</mat-label>
    <mat-select name="type">
      <mat-option>Elastic (RAW)</mat-option>
      <mat-option>Standard JSON</mat-option>
      <mat-option>Custom (UPS)</mat-option>
      <mat-option>Kinesis(EROAD</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="form-field-2"><input  type="text" id="endPointUrl" name="endPointUrl" placeholder="Endpoint URL">
  </div>
  <mat-form-field appearance="fill" class="form-field-1">
    <mat-label>Type</mat-label>
    <mat-select name="type">
      <mat-option>Elastic (RAW)</mat-option>
      <mat-option>Standard JSON </mat-option>
      <mat-option>Custom (UPS)</mat-option>
      <mat-option>Kinesis(EROAD</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="form-field-2"><input  type="text" id="endPointUrl" name="endPointUrl" placeholder="Endpoint URL">
  </div>
  
  <button class="button">Save</button>
  <button class="button2">Cancel</button>
  </form>
  </div>