<div class="container-fluid">
  <div class="loading" *ngIf="loading">Loading&#8230;</div>
  <div class="row content_titlebar">
    <div class="col-lg-12">
      <div class="breadCrumb">
        <span class="pageName">
          <a href="javascript:void(0);">Manage Devices</a>
        </span>
        <span class="seprator"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
        <span class="pageName">
          <a href="javascript:void(0);">Latest Device Report Count</a>
        </span>
      </div>
      <div class="pageTitle">
        <h2 class="pull-left col-lg-4 margin_bottom">Latest Device Report Count</h2>
        <div class="col-lg-8 text-right margin-top" style="font-style: italic;">
          <span>All times shown in PST</span>
        </div>
      </div>
    </div>
  </div>
  <hr class="hr_line">
 

  <div class="col-lg-12 noPadding">
    <ag-grid-angular #agGrid id="myGrid" style="width: 100%; height: 800px;" class="ag-theme-alpine" [rowData]="rowData"
      [columnDefs]="columnDefs" [cacheOverflowSize]="cacheOverflowSize"
      [maxConcurrentDatasourceRequests]="maxConcurrentDatasourceRequests" [modules]="modules"
      [gridOptions]="gridOptions" [infiniteInitialRowCount]="infiniteInitialRowCount" (gridReady)="onGridReady($event)"
      (columnVisible)="onColumnVisible($event)" (columnPinned)="onColumnPinned($event)"
      (sortChanged)="onSortChanged($event)" (dragStopped)="onDragStopped($event)"
      (filterChanged)="onFilterChanged($event)" [sideBar]="sideBar" [defaultColDef]="defaultColDef"
      [suppressRowClickSelection]="true" [rowSelection]="'multiple'" [frameworkComponents]="frameworkComponents"
      [components]="components" (firstDataRendered)="headerHeightSetter($event)"
      (columnResized)="headerHeightSetter($event)" [enableRangeSelection]="true"
      [multiSortKey]="multiSortKey">
    </ag-grid-angular>
  </div>
</div>