<section id="eligib-test">
    <div class="container">
        <div class="row" style="margin-left: 230px;">
            <div class="col-sm-8 col-sm-offset-2" style="margin-top: 90px;">
                <div class="forgot-card">
                    <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit(forgotpasswordForm)">
                        <div class="row" *ngIf='invalidEmail'>
                            <div class="col-sm-8 col-sm-offset-2">
                                <p class="invalid-Email">Email is Not Associated With any User.</p>
                            </div>
                        </div>
                        <div class="row" *ngIf='mailsent'>
                            <div>
                                <p class="sent-mail">The New Password is sent to your Email Id.,Please Check Your Email
                                </p>
                            </div>
                        </div>
                        <h3 class="mt-3" style="font-size: 17px; color: #333; font-weight: 600;margin-bottom: 30px;">
                            Forgot Password</h3>
                        <div class="form-container">
                            <div class="alert alert-danger forget-class">
                                Enter the email address you used to register.
                            </div>
                            <div class="row">
                                <div class="col">
                                </div>
                                <div class="col forgot-input">
                                    <label>Email</label>
                                    <input class="login-field " name="user.user_mail" formControlName='email'
                                        [ngClass]="{ 'is-invalid': submitted && getForm.email.errors }">
                                    <div *ngIf="(submitted && getForm.email.errors)||(forgotpasswordForm.get('email').hasError('required') &&forgotpasswordForm.get('email').touched)||(forgotpasswordForm.get('email').hasError('pattern') &&forgotpasswordForm.get('email').touched)"
                                        style="color: red;">

                                        <div *ngIf="getForm.email.errors.required">Email is required</div>
                                        <div *ngIf="getForm.email.errors.pattern">Invalid Email</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-right">
                                    <button type="submit" class="btn btn-primary btn-sm login-cta forgot-button">Reset
                                        Password</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>