.cancel-btn{
    color: #007bff!important;
    background: #f6f6f6;
  }
  
  .btn-outline-primary:hover{
    color: #fff!important;
  }
  
  .save_btn{
    color: #FFF!important;
    background: #3C64B1;
    border: 2px solid #3C64B1;
    border-radius: 6px!important;
    box-shadow: none;
    width: 46%;
    margin-right : 12px
  }
  
  .cancel-btn:hover{
    background: #f6f6f6;
    color: #3C64B1 !important;
  }
  