::-ms-clear {
    display: none;
  }
  
  .form-control-clear {
    top: 14px;
    z-index: 10;
    right: 25px;
    pointer-events: auto;
    cursor: pointer;
    position: absolute;
  }

  .btnClear {
    font-size: 12px;
    text-transform: capitalize;
    padding: 6px 11px;
    border-radius: 5px;
    border: none;
    line-height: 14px;
    font-weight: bold;
}

.primary_buttonClear {
  color: #FFF;
  background: #4ba9d7;
  border: 0px solid #0679d8;
  border-radius: 6px;
}

.page-size-ag-grid-header {
  font-family: inherit;
  font-size: 13px;
  margin-bottom: 6px;
  margin-top: 6px;
}
.pageSizeNumbers{
  text-align: right;
  margin-top: 14px;
  color: #444;
  font-size: 12px;
  }
  .pageSizeNumbers #page-size{
  color: #767676;
  padding: 2px 1px;
  margin-bottom: 5ch;
  }